.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#form{
  background-color: #474f5f;
  margin: 5px;
  padding: 5px;
}
#todo{
  background-color: #474f5f;
  width: 18%;
  height: 400px;
}
#done{
  background-color: #474f5f;
  width: 18%;
  height: 400px;
  margin-left: 5px;
  
}
#container{
display: flex;
flex-direction: row;
justify-content: center;
 
}
.todo{
background-color: #fa6a6a;
width: 40%;
justify-content: center;
margin-left: 30%;
border-radius: 8px;

}
.done{
  background-color: #6cd78c;
  width: 40%;
  margin-left: 30%;
  border-radius: 8px;
  }
